@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Nunito:wght@300;400;600;700&family=Raleway:wght@100;300;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.aspect-alternative {
    aspect-ratio: 16 / 11;
}

.aspect-squere {
    aspect-ratio: 16 / 16;
}

.aspect-movie {
    aspect-ratio: 16 / 9;
}
